<mat-card>
  <mat-card-header>
    <h2>User Registration</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregd()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="id">
      </mat-form-field>
      <!-- <mat-divider></mat-divider> -->
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <!-- <mat-divider></mat-divider> -->
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <!-- <mat-divider></mat-divider> -->
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <!-- <mat-divider></mat-divider> -->
      <div>
        <mat-radio-group aria-label="gender" formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button mat-raised-button color="primary">Submit</button>
        <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
      </div>

    </form>

  </mat-card-content>
</mat-card>